<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">
    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Top Mascots: <%= nombre %>
            </h1>
            <p>
                <%= tagline %>
            </p>
            <ul>
                <% mascots.forEach(function(mascot) { %>
                    <li>
                        <strong>
                            <%= mascot.name %>
                        </strong>
                        representing <%= mascot.organization %>, born <%= mascot.birth_year %>
                    </li>
                    <% }); %>
            </ul>
            <!--
                mascots.forEach(function(mascot) {
                    mascot.name
                    mascot.organization, mascot.birth_year
                 }); 
            -->
            <!-- 
                for(elemento of lista){
                    imprimir elemento
                }
            -->
            <% for(elemento of lista){ %>
                <p><%= elemento %></p>
            <% }; %>
            

        </div>
    </main>
    <aside>
        <%- include('../partials/aside'); %>
    </aside>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>