<!DOCTYPE html>
<html lang="es">
<%- include('head', { titulo: 'Inicio EJS'}) %>
<body>
    <%- include('header') %>
    <%- include('aside', {items2: itemsAside}) %>
    <%- include(`mains/${pagina}`) %>
    <%- include('footer') %>
</body>
</html>