<!DOCTYPE html>
<html lang="es">
<%- include('head', { titulo: 'Inicio EJS'}) %>
<body>
    <%- include('header') %>
    <%- include('aside', {items: items}) %>
    <%- include('main') %>
    <%- include('footer') %>
</body>
</html>